body {
	background-color : #FFD77D;
}

h3 {
	text-align: center;
}

h2 {
	text-align: center;
}

.table {
	width: 100% !important;
}

.nav {
	z-index: 2;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	border-bottom: 2px solid #000000;
	background-color: #FFD77D;
}

.nav>li>a {
	display: inline;
	padding-top: 10px;
    padding-right: 30%;
    padding-bottom: 10px;
    padding-left: 30%;
}

.nav>li {
	width: 7.333333%;
	margin-bottom: 10px;
	margin-top: 10px;
}

.col-sm-4 {
	position: fixed;
}
.col-sm-8 {
	float: right;
}